<div  nz-row style="margin-top: 100px;">

    <div nz-col nzSpan="8" nzOffset="10">
      <h1>Employee Time sheet</h1>
    </div>
    
    </div>
    <div nz-row style="margin-top: 8px;">
      <div nz-col nzSpan="4" nzOffset="2">

    </div>
   
    </div>

    
<div  nz-row style="margin-top: 18px;">
    <div nz-col nzSpan="20" nzOffset="2">

        <div *ngIf="loading">
            <nz-spin nzSimple [nzSize]="'large'"  style="margin-left: 600px; position: absolute; z-index: 9999 ;margin-top: 300px;"></nz-spin>

        </div>
        


        <nz-table  #filterTable [nzData]="listOfData"  nzShowPagination="false">

            <thead>
              <tr>
                <th [nzSortFn]="true"   (nzSortOrderChange)="serverSideSorting($event,'id')">Id</th>
                <th [nzSortFn]="true" (nzSortOrderChange)="serverSideSorting($event,'name')">Task Done</th>
                <th [nzSortFn]="true" (nzSortOrderChange)="serverSideSorting($event,'username')">Logged In Time</th>
                <th [nzSortFn]="true" (nzSortOrderChange)="serverSideSorting($event,'role')">Logout Time</th>
                
              </tr>
            </thead>
            <tbody >

              <tr *ngFor="let data of filterTable.data;let i = index" >
                <td>{{ data.id }}</td>
                <td>{{ data.taskDone }}</td>
                <td>{{ data.loggedInTime }}</td>
                <td>{{ data.logoutTime }}</td>
                
              
              </tr>
            </tbody>

          </nz-table>
         

    </div>

</div>

<div  nz-row style="margin-top: 15px; margin-bottom: 45px; padding-bottom: 20px;">

    <div nz-col nzSpan="8" nzOffset="10">
        <nz-pagination [nzPageIndex]="currentPageNumber" [nzTotal]="totalElements"  [nzPageSize]="pageSize" (nzPageIndexChange)="pageChange($event)" (nzPageSizeChange)="onCurrentPageSizeChange($event)"></nz-pagination>

    </div>
    </div>
 


